<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="aboutus.css">
    <link rel="stylesheet" href="genral.css">

</head>
<body>
    
        <nav>
            <a href="/"><h1 id="logo">Agrocare</h1></a>
            <ul class="nav-links">
                <a href="/home"><li>Home</li></a>
                
                <a href="/about"><li>About Us</li></a>
                <a href="/contact"><li>Contact Us</li></a>
                <li>Signup/login</li>
            </ul>
        </nav>
        
        <div class="main">
            <h1>
                About us
            </h1><br>
            <p>
                *mission statement comes here*
            </p><br>
            <h2>
                The Reason
            </h2>
            <p>
                Over centuries, the development of agriculture contributed to rise of civilizations that is climacteric to economic growth. Abiotic components including topography and soil are the factors influencing production of plants. Low nutrient levels in soil are a recognized limitation to crop production. For crop optimization and to protect the plant from environment contamination soil testing is important which help farmers to increase the crop productivity and in turn increase the financial status of farmers. The rise of technology is helping farmers for quick soil testing which uses various sensors, rather than the conventional laboratory testing which takes long time to provide the results.
            </p><br>
            <h2>
                The Motivation
            </h2>
            <p>
                This test will only help each farmer who is doing the testing, and they'll only know about their soil. If a farmer wishes to change crop cultivation he has to gather a soil sample, take a soil nutrient test which will provide him with the composition of nutrients present in that soil. 
Now even after obtaining the soil test the farmer won't know which crops suits perfectly to the composition present. This lack of information led to idea of creating an online platform which put the efforts in the design and development of a sophisticated soil testing and fertilizer recommendation system. This system takes inforamtion from all farmers, their soil quality, and provide them a help in knowing which crops are suitable for which composition. This individual information of a farmer is stored and shared to other farmers in different regions, which can give new ideas of cultivation. Our aim is to...
            </p>
        </div>
    
</body>
</html>