<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="contactus.css">
    <link rel="stylesheet" href="genral.css">

</head>
<body>
    <div class="landing">
        <nav>
            <a href="/"><h1 id="logo">Agrocare</h1></a>
            <ul class="nav-links">
                <a href="/home"><li>Home</li></a>
                
                <a href="/about"><li>About Us</li></a>
                <a href="/contact"><li>Contact Us</li></a>
                <li>Signup/login</li>
            </ul>
        </nav>
        
        <div class="main">
            <h1>
                Contact us
            </h1>
            <p>
                main text comes here
            </p>
        </div>
    </div>
</body>
</html>