<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="contactus.css">
    <link rel="stylesheet" href="genral.css">

</head>
<body>
    <div class="landing">
        <nav>
            <a href="/"><h1 id="logo">Agrocare</h1></a>
            <ul class="nav-links">
                <a href="/home"><li>Home</li></a>
                
                <a href="/about"><li>About Us</li></a>
                <a href="/contact"><li>Contact Us</li></a>
                <a href="/signup"><li>Signup/login</li></a>
            </ul>
        </nav>
        
        <div class="main">
            <h1>
                Contact us
            </h1>
            <p id="cont-head">
                Reach us through mail:<br>
            </p>
            <p id="contact">
                <u><em>yashm279@gmail.com</em></u>
            </p>
        </div>
    </div>
    <footer id="footer">
        <h1>AgroCares</h1>
        <a href="/about"><li>About Us</li></a>
                <a href="/contact"><li>Contact Us</li></a>
      </footer>
</body>
</html>