<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.css">
    <link rel="stylesheet" href="genral.css">
    <title>Document</title>
</head>
<body>
    <div>
    <nav>
        <a href="/"><h1 id="logo">Agrocare</h1></a>
        <ul class="nav-links">
            <a href="/home"><li>Home</li></a>
            
            <a href="/about"><li>About Us</li></a>
            <a href="/contact"><li>Contact Us</li></a>
            <a href="/signup"><li>Register</li></a>
            
        </ul>
    </nav>
    























    </div>
    <footer id="footer">
        <h1>AgroCares</h1>
        <a href="/about"><li>About Us</li></a>
        <a href="/contact"><li>Contact Us</li></a>
      </footer>
      
      <script src="Home.js"></script>
</body>
</html>