<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.css">
    <link rel="stylesheet" href="genral.css">
    <title>Document</title>
</head>
<body>
    <div>
    <nav>
        <a href="/"><h1 id="logo">Agrocare</h1></a>
        <ul class="nav-links">
            <a href="/home"><li>Home</li></a>
            
            <a href="/about"><li>About Us</li></a>
            <a href="/contact"><li>Contact Us</li></a>
            <a href="/signup"><li>Register</li></a>
            
        </ul>
    </nav>
    </div>
    <div class="login">
        <form action="/login" method="post">
            <label for="Username">Username</label>
            <input type="text" name="Username" id="">
            <label for="Password">Password</label>
            <input type="password" name="Password" id="">
            <input type="submit" value="submit">
            </form>
    </div>
    <div class="below-nav">

    </div>
    <footer id="footer">
        <h1>AgroCares</h1>
        <a href="/about"><li>About Us</li></a>
        <a href="/contact"><li>Contact Us</li></a>
      </footer>
      <div class="inline-form" id="in-form">
          <div>
              <div>
          <form class="inline-login" id="form">
              <div class="form-label-group">
                  <input type="text" id="Usename" class="form-control" placeholder="Username" required autofocus>
                  <label for="Username">Username</label>
              </div>

              <div class="form-label-group">
                <input type="password" id="Password" class="form-control" placeholder="Password" required>
                <label for="Password">Password</label>
              </div>

              <div class="buttons">
                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Login</button>

          </form></div></div>
      </div>
      <script src="Home.js"></script>
</body>
</html>