<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style-index.css">
</head>
<body>
    <main>
        
            <section class="landing">
                <nav>
                    
                    <ul class="nav-links">
                        <a href="home.html"><li>Home</li></a>
                        
                        <a href="/about"><li>About Us</li></a>
                        <a href="/contact"><li>Contact Us</li></a>
                        <li>Signup/login</li>
                    </ul>
                </nav>
                <div class="introduction">
                  
                    <div >
                        <h1 >Welcome</h1>
                        <p>
                            I am a designer and a full stack web developer
                           
                        </p>
                        <button>Know more about what I do</button>
                        
                    </div>
                    
                   
                </div>
            </section>
    </main>

    <div class="intro">
        <div class="intro-text">
            <h1 class="hide">
                <span class="text">Welcome</span>                
            </h1>
            <h1 class="hide">
                <span class="text">To The soil Encyclopedia</span>   
            </h1>
        </div>
        </div>
    </div>
    <div class="slider"></div>    
   
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js" integrity="sha512-IQLehpLoVS4fNzl7IfH8Iowfm5+RiMGtHykgZJl9AWMgqx0AmJ6cRWcB+GaGVtIsnC4voMfm8f2vwtY+6oPjpQ==" crossorigin="anonymous">
    </script>   
    <script src="index-script.js">
        
    </script>
</body>
</html>