<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="genral.css">
    <link rel="stylesheet" href="signup.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fontawesome/5.10.0/css/all.min.css" integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ==" crossorigin="anonymous"/>
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="/"><h1 id="logo">Agrocare</h1></a>
        <ul class="nav-links">
            <a href="/home"><li>Home</li></a>
            
            <a href="/about"><li>About Us</li></a>
            <a href="/contact"><li>Contact Us</li></a>
            <a href="/signup"><li>Register</li></a>
        </ul>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-xl-9 mx-auto">
          <div class="card card-signin flex-row my-5">
            <div class="card-img-left d-none d-md-flex">
               <!-- Background image for card set in CSS! -->
            </div>
            <div class="card-body">
              <h5 class="card-title text-center">Register</h5>


              <form class="form-signin" id="form" method="POST">
                <div class="form-label-group">
                  <input type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
                  <label for="inputUsername">Username</label><br>
                  <small>ErrorMessage</small>
                </div>
  
                <div class="form-label-group">
                  <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required>
                  <label for="inputEmail">Email address</label>
                  <small>ErrorMessage</small>
                </div>
                
                <hr>
  
                <div class="form-label-group">
                  <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                  <label for="inputPassword">Password</label>
                  <small>ErrorMessage</small>
                </div>
                
                <div class="form-label-group">
                  <input type="password" id="inputConfirmPassword" class="form-control" placeholder="Password" required>
                  <label for="inputConfirmPassword">Confirm password</label>
                  <small>ErrorMessage</small>
                </div>
  
                <div class="buttons">
                    <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Register</button>
                <br>
                <a class="d-block text-center mt-2 small si" href="#">Sign In</a>
                </div>
                
                
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  <script src="signup.js"> </script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  </body>
</html>