<!DOCTYPE html>
<html lang="en">
<head>
 <title>Sign-up</title>
<meta charset ="utf-8">
<link rel = "stylesheet" type ="text/css" href = "login.css">
<meta name = "viewport" content ="width=device-width,initial-scale=1.0">
<link href = "https://fonts.googleapis.com/css2?family=Flamenco&display=swap"
 rel = "stylesheet">
<link rel = "stylesheet" type="text/css" href ="https://cdnjs.cloudflare.com/ajax/libs/fontawesome/
5.10.0/css/all.min.css" integrity="sha512-
PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8T
FecIky75ZfQ==" crossorigin="anonymous"/>
</head>
<body>
 <header>
<div class = "register">
<div class = "header">
<h2>Registrationform</h2>
</div>
<form method = "post" class="form" id="form">
<div class = "form-control">
<label>FullName:</label>
<input type = "text" name="name" id="name" placeholder="Enteryour
Name" autocomplete="off">
<i class = " fas fa-check-circle"></i>
<i class = " fas fa-exclamation-circle"></i>
<small>ErrorMessage</small>
</div>

<div class ="form-control">
<label>MobileNumber:</label>
<input type="number" name="number" id="phone" placeholder="Enter
MobileNumber" autocomplete="off">
<i class = "fas fa-check-circle"></i>
<i class ="fas fa-exclamation-circle"></i>
<small>ErrorMessage</small>
</div>
<div class="form-control">
<label>Email:</label>
<input type="Email" name="email" id="email" placeholder="EnterEmailID"
autocomplete="off">
<i class="fas fa-check-circle"></i>
<i class="fas fa-exclamation-circle"></i>
<small>ErrorMessage</small>
</div>
<div class="form-control">
<label>Password:</label>
<input type="password" name="pass" id="password" placeholder="Enter
Password" autocomplete="off">
<i class="fas fa-check-circle"></i>
<i class="fas fa-exclamation-circle"></i>
<small>ErrorMessage</small>
</div>
<div class="form-control">
<label>Confirm Password:</label>
<input type="password" name="pass" id="cpassword" placeholder="Enter
Confirm Password" autocomplete="off">
<i class="fas fa-check-circle"></i>
<i class="fas fa-exclamation-circle"></i>
<small>ErrorMessage</small>
</div>
<input type="radio" name="Male" id="male"><span id="male">&nbsp;
Male</span>&nbsp;&nbsp;
<input type="radio" name="Male" id="male"><span id="male">&nbsp;
Female</span>&nbsp;&nbsp;
<input type="radio" name="Male"id="male"><span id="male">&nbsp;
Others</span>&nbsp;&nbsp;<br>
<input type="submit"name="Submit"value="Submit"id="sub"
class="btn">
</form>
</div>
</header>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script type="text/javascript">
constform = document.getElementById('form');
constname = document.getElementById('name');
constphone = document.getElementById('phone');
constemail = document.getElementById('email');
constpassword = document.getElementById('password');
constcpassword =  document.getElementById('cpassword');
//addanevent
form.addEventListener('submit',(event)=>{
event.preventDefault();
validate();
})
constsendData =(nameVal,sRate,count)=>{
if(sRate===count){
alert('RegistrationSuccessful');
swal("Welcome!"+nameVal,"RegistrationSuccessful","success")
}
}
//AfterAllSuccesdataentries
constsuccessMsg =(nameVal)=>{
letformCon=document.getElementsByClassName('form-control');
varcount=formCon.length-1;
for(vari=0;i<formCon.length;i++){
if(formCon[i].className==="form-controlsuccess"){
varsRate=0+i;
sendData(nameVal,sRate,count);
}else{
returnfalse;
}
}
}
//advanceemailvalidation
constisEmail=(emailVal)=>{
varatSymbol=emailVal.indexOf("@");
if(atSymbol<1)returnfalse;
vardot=emailVal.lastIndexOf('.');
if(dot<=atSymbol+3)returnfalse;
if(dot===emailVal.length-1)returnfalse;
returntrue;
}
//definingthevalidatefunction
constvalidate=()=>{
constnameVal=name.value.trim();
constphoneVal=phone.value.trim();
constemailVal=email.value.trim();
constpasswordVal=password.value.trim();
constcpasswordVal=cpassword.value.trim();
//validatingname
if(nameVal===""){
setErrorMsg(name,'Namecannotbeblank');
}
else if(nameVal.length<=2){
setErrorMsg(name,'Nameshouldcontainatleast3characters');
}
else{
setSuccessMsg(name);
}
//validatingemail
if(emailVal===""){
setErrorMsg(email,'Emailcannotbeblank');
}else if(!isEmail(emailVal)){
setErrorMsg(email,'Notavalidemail');
}
else{
setSuccessMsg(email);
}
//validatingphone
if(phoneVal===""){
setErrorMsg(phone,'PhoneNumbercannotbeblank');
}else if(phoneVal.length!=10){
setErrorMsg(phone,'NotavalidPhonenumber');
}
else{
setSuccessMsg(phone);
}
//validatingpassword
if(passwordVal===""){
setErrorMsg(password,'Passwordcannotbeblank');
}else if(passwordVal.length<=5){
setErrorMsg(password,'Shouldcontainminimum 6characters');
}
else{
setSuccessMsg(password);
}
//validatingpassword
if(cpasswordVal===""){
setErrorMsg(cpassword,'Confirm Passwordcannotbeblank');
}else if(passwordVal!=cpasswordVal){
setErrorMsg(cpassword,'Passworddoesnotmatch');
}
else{
setSuccessMsg(cpassword);
}
successMsg(nameVal);
}
functionsetErrorMsg(input,errormsgs);{
constformControl=input.parentElement;
constsmall=formControl.querySelector('small');
formControl.className="form-controlerror";
small.innerText=errormsgs;
}
functionsetSuccessMsg(input);{
constformControl=input.parentElement;
formControl.className="form-controlsuccess";
}
</script>
</body>
</html>

